body {
  width: 90%;
  max-width: 900px;
  min-width: 500px;
  margin: 0 auto;
  font-family: Helvetica;
  letter-spacing: .05em;
    
}

#header {
    height: 80px;
    border-bottom: 1px solid grey;
}

#main-logo {
    width: 150px;
    margin-top:15px;
    margin-bottom: 15px;
    display: inline-block;
}


.search {
    display: inline-block;
    width: 200px;
    height: 27px; 
    position: relative;
    top: -30px;
    left: 15%;
}


.search input { 
    text-indent: 75px;
    font-size: 13px;
    color: #ededed;

}

#searchBox{
    width: 100%;
    height: 100%;
    border: 2px solid #ededed;
}


#loginButtons {
    display: inline-block;
    height: 30px;
    position: relative;
    top: -30px;
    left: 20%;
    
}

button{
    font-size: 14px;
    margin-left:40px;
    margin-right: 10px;
    height: 100%;
    color: #42a7f4;
    
    background: none;
    cursor: pointer;
}

.get {
    color: white;
    background: #42a7f4;
    border-style: none;
}

.signup {
    border-style: none;
}

.login {
    border-style: none;
}

#profile-pic {
    width: 150px;
    margin-top:30px;
    margin-bottom: 15px;
    margin-left: 40px;
    display: relative;
}

/*Having trouble moving the instagram username and other info up to align with profile pictire*/
#thefoodmachine {
    font-size: 30px;
    font-weight: 200;
    display: inline-block;
    margin-left: 70px;
    
}

.stats {
    font-weight: 200
}

#posts {
    display: inline-block;
    margin-left: 265px;
}

#followers {
    display: inline-block;
    margin-left: 50px; 
}

#following {
    display: inline-block;
    margin-left: 50px;
}

#bio {
    display: inline-block;
    margin-left: 265px;
}

.follow {
    border: 1px solid #42a7f4;
}





/*Using 960_12_col for photo grid*/
#container {
  max-width:800px;
  margin: 0 auto;
  background: yellow;
}



.photos {
    width: 100%;
}


.Load {
    position: relative;
    left: 400px;
    top: 20px;
    padding: 30px 6px;
    border: 1px solid #42a7f4;
    border-radius: 170px;
}

/*Bottom small text*/
.Bottom {
    font-weight: 200;
    font-size: 10px;
}

#about {
    display: inline-block;
    margin-top: 50px;
}

#support {
    display: inline-block;
    margin-left: 15px;
    margin-top: 50px;
}

#blog {
    display: inline-block;
    margin-left: 15px;
    margin-top: 50px;
}

#press {
    display: inline-block;
    margin-left: 15px;
    margin-top: 50px;
}

#api {
    display: inline-block;
    margin-left: 15px;
    margin-top: 50px;
}

#jobs {
    display: inline-block;
    margin-left: 15px;
    margin-top: 50px;
}

#privacy {
    display: inline-block;
    margin-left: 15px;
    margin-top: 50px;
}

#terms {
    display: inline-block;
    margin-left: 15px;
    margin-top: 50px;
}

#directory {
    display: inline-block;
    margin-left: 15px;
    margin-top: 50px;
}

#copyright {
    display: inline-block;
    margin-left: 300px;
}